.user-profile {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 60px;
}

.user-info {
  flex: 1;
  margin-right: 20px;
}

.user-data {
  flex: 2;
  margin-left: 20px;
}

.light-box {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: black;
}

.avatar-box {
  text-align: center;
}

.avatar-box h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.avatar-box img {
  margin-bottom: 20px;
}

.status-bar {
  margin-top: 20px;
}

.data-box {
  text-align: center;
}

.data-box h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}

.data-box img {
  width: 100%;
  height: auto;
}

.error-message {
  color: red;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.1);
  font: Arial;
  font-size: 1.25rem;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 60px;
}

.Reg-title{
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  font-family: 'Duck', Arial;
}

.reg-form{
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  padding: 50px;
  text-align: center;
}

.reg-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.reg-btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Fried', 'Arial';
  font-weight: bold;
}

.reg-btn:hover {
  background-color: #00ff0d;
}


.list-btn{
  font-family: 'spicy', 'arial';
  background-color: #ffbf00;
  color:black;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #886100;
  border-radius: 5px; 
}

.list-btn:hover {
  background-color: #ffd700;
}

.deletebox{
  background-color: rgba(255, 0, 0, 0.192);
  font-family: 'arial';
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
  border-radius: 5px; 
}

.delUser{
  font-family: 'Duck', 'Arial';
}

.delbtn{
  color: red;
  background-color: black;
  border-radius: 5px; 
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
}

.delbtn:hover{
  background-color: red;
  color: black;
  font-weight: bolder;
}

.user-id-error {
  font-family: sans-serif;
  font-weight: bold;
  color: red;
}

.update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 50px; 
  font-family: sans-serif;
}

.update-form {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.update-btn {
  padding: 10px 20px;
  border: none;
  background-color: #ffbf00;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #00ff0d7a;
}

.update-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  color: black;
  position: relative;
  padding: 20px;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
}


.task-item:last-child {
  border-bottom: none;
}

.modal-content button {
  margin-right: 10px;
}

.modal-content button:last-child {
  margin-right: 0;
}

button {
  background: #ffbf00;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #ffd65d;
}

button.close {
  background: #ff4d4d;
  color: white;
  position: absolute; 
  top: 10px;          
  right: 10px;        
  padding: 5px 10px; 
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button.close:hover {
  background: #e60000;
}

.delete-confirmation {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-confirmation p {
  font-size: 1.2rem;
  color: red;
  margin-bottom: 20px;
}

.delete-confirmation button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-confirmation button:hover {
  background-color: #e60000;
}

.listoftasks{
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 2rem;
}

.habitbutton-container {
  display: flex; 
  justify-content: space-around; 
  gap: 10px; 
  margin-bottom: 10px;
}

.habitbutton {
  margin-bottom: 5px;
}

.bold-text {
  font-size: 1.5rem;
}

.edit-input {
  width: 100%; 
  max-width: 400px; 
  padding: 10px; 
  font-size: 1.2rem; 
  color: black;
  background-color: white;
  border-radius: 5px; 
  box-sizing: border-box; 
}
