:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image:
	  radial-gradient(60% 50% ellipse at center bottom, #61ae91 0%, #1a7488 100%);
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #2f89a4;
  overflow: hidden;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  float: left;
}

.navbar-links li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-links li a:hover, .dropdown:hover .dropbtn {
  background-color: #00fffb38;
}

.nav-item {
  position: relative;
}

.dropdown-button {
  background: #199e9700;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.dropbtn{
  background: #199e97;
  border: none;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #208171;
  color: #fff;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #7b999c;
}

.dropdown-item:hover {
  background: #5d7ea400;
}


.navbar {
  background-color: #199e97;
  padding: 10px;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
}

.logout-button {
  background: #fb6a65d4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background: #ff0800;
}

.title-box {
  background: rgb(203, 201, 201);
  width: 800px;
  margin: 20px auto 0;
  padding: 20px;
  border-radius: 10px;
}


.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  color: black;
}

.duck {
  width: 200px;
  height: auto;
}

.ducky1{
  width: 200px;
  height: auto;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}


.login-form {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: black;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 0; 
  margin-bottom: 0px;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: black;
  margin: 0 auto;
  margin-top: 40px;
}


